.navlinks {
	display: flex;
	text-decoration: none;
	list-style: none;
	align-items: center;
}

.navlinks__item {
	margin: 0 1rem;
	font-weight: 700;
	font-size: large;
	text-decoration: none;
	&:hover {
		color: hsl(0, 0%, 100%);
	}
}

.link {
	text-decoration: none;
	color: hsl(244, 100%, 16%);
}

.menu-icon {
	display: none;
	cursor: pointer;
}
