.about__container {
	display: flex;
}

.about__description {
	width: 50%;
	padding: 5rem 13rem;
	h2 {
		font-size: 32px;
	}
	p {
		line-height: 1.4em;
		font-weight: 300;
		margin-bottom: 20px;
	}
	.title {
		font-size: 26px;
		color: rgb(18, 99, 190);
	}
	a[data-tool-tip] {
		position: relative;
	}
	a[data-tool-tip]::after {
		content: attr(data-tool-tip);
		display: block;
		position: absolute;
		background-color: rgba(0, 0, 0, 0.425);
		color: white;
		border-radius: 5px;
		padding: 1em 2em;
		font-size: 0.9em;
		bottom: 100%;
		left: 0;
		white-space: nowrap;
		transform: scale(0);
		transition: transform ease-in-out 200ms;
	}
	a[data-tool-tip]:hover::after {
		transform: scale(1);
	}
}
.about_img {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 900;
}
