@use '../../colors' as colors;
.footer {
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  padding: 2rem 0 1rem 0;

  .footer__container__top {
    background-color: inherit;
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    .footer__icon--xxlarge {
      font-size: xx-large;
    }
    .footer__icon--xlarge {
      font-size: x-large;
    }
    p {
      font-size: 1.1rem;
    }
    .footer__info {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .footer__info__title {
        display: flex;
        align-items: center;
        gap: 1rem;
        p {
          font-size: x-large;
          font-weight: bold;
          letter-spacing: 0.15rem;
          color: colors.$orange;
        }
      }
      .footer__info__description {
        margin-left: 2.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .footer__info__description__item {
          display: flex;
          align-items: center;
          gap: 1rem;
          .footer__info__description__item__title {
            font-weight: bold;
          }
        }
      }
    }
    .footer__work__time {
    }
  }
  .bottom__line {
    border-bottom: 1px solid #ffffff49;
    margin: 1rem 0;
  }
  .footer__container__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
